.nav-link:hover {
  background-color: rgba(0, 123, 255, 0.1);
  border-radius: 2px !important;
  padding-bottom: 8px !important;
}

.nav-link {
  color: rgb(0, 0, 0) !important;
  font-style: bold;
  font-weight: 300 !important;
  padding-left: 16px !important;
  padding-right: 16px !important;
  font-size: large !important;
  text-wrap-mode: nowrap !important;
  padding-bottom: 0 !important;
}

.nav-link.active {
  background-color: rgb(29, 22, 89) !important;
  border-radius: 2px !important;
  color: rgb(255, 255, 255) !important;
  font-weight: 400 !important;
  padding-bottom: 8px !important;
}

.modalw {
  max-width: 60% !important;
}

.flex-column {
  background-color: transparent !important;
}

.list-group-item {
  background-color: transparent !important;
  padding-bottom: 0 !important;
}

.sidebar {
  position: fixed;
  background-color: #ffffff;
  bottom: 0px;
  left: 0px;
  top: 63px;
  width: fit-content;
  border-radius: 0.25rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 100;
}



.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #727272;
}

.sidebar .nav-link.active {
  color: #2470dc;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
